<div class="main-content">
  <div class="section-content section-content">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over product table -->
        <div *ngFor="let productItem of productResponse; index as i" class="col-md-2 text-center">
          <div class="product-box">
            <a routerLink="/product/{{productItem.id}}">
              <img src="{{productItem.imageUrl}}" alt="Image loading.." class="img-responsive">
            </a>


            <a routerLink="/product/{{productItem.id}}">
            <h1>{{productItem.name}}</h1>
            </a>

            <div class="price"> {{productItem.unitPrice | currency: 'USD'}}</div>
            <button (click)="addToCart(productItem)" class="btn btn-primary btn-sm"> Add to Cart</button>
          </div>
        </div>


        <!--  Display a message is no products found-->
        <div *ngIf="productResponse?.length==0" class="alert alert-warning col-md-12" role="alert">
          No Products Found!
        </div>

      </div>
    </div>
  </div>

  <!-- begin footer -->
  <div class="footer-pagination">
    <div class="row">
      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-9" style="padding-left: 30%">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalNumberOfElement" (pageChange)="getProductsResponse()">
            </ngb-pagination>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end footer pagination-->

</div>
