<div class="container">
  <table class="table table-bordered table-striped">
    <thead class="table-dark text-center">
    <tr>
      <th>Image</th>
      <th>NAME</th>
      <th>SKU</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Stock</th>
    </tr>
    </thead>
    <tbody class="text-center">
   <!-- <tr *ngFor="let items of productResponse; index as i">
      <td class="align-middle">
        <img src="{{items.imageUrl}}" height="50" >
      </td>
      <td><span>{{items.name}}</span></td>
      <td><span>{{items.sku}}</span></td>
      <td><span>{{items.description}}</span></td>
      <td><span>{{items.unitPrice}}</span></td>
      <td><span>{{items.unitInStock}}</span></td>
    </tr>-->
    </tbody>
  </table>
</div>

