<div class="main-content">
  <div class="section-content section-content-p30">
    <!--  Display a message is no products found-->
     <div *ngIf="customers?.length==0" class="alert alert-warning col-md-12" role="alert">
       No Customer Data Found!
     </div>
    <div class="container">
      <table *ngIf="customers?.length !=0" class="table table-bordered table-striped">
        <thead class="table-hover table-dark text-center font-weight-bold">
        <tr>
          <th>SL</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr *ngFor="let items of customers; index as i">
          <td><span>{{i + 1}}</span></td>
          <td><span>{{items.firstName}}</span></td>
          <td><span>{{items.lastName}}</span></td>
          <td><span>{{items.email}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
